
server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:invoice-db
    driverClassName: org.h2.Driver
    username: sa
    password: ""
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

aws:
  region: ap-south-1
  target-bucket: invoice-processed-bucket
